In [1]:
from varsim import BasePopulation

In [2]:
import numpy as np
import pandas as pd
from collections import OrderedDict

In [28]:
class StupidPopulation(BasePopulation):
    def __init__(self):
        self.t0 = [59580.03, 59580.05]
        self.f = [0.002, 0.004]
        self.minvals = [-0.2, -0.5]
        self.maxvals = [0.5, 1.0]
        self._paramsTable = None
    
    @property
    def rng_model(self):
        return None
    
        
    @property
    def paramsTable(self):
        if self._paramsTable is None:
            df = pd.DataFrame(dict(t0=self.t0, f=self.f, minv=self.minvals,
                               maxv=self.maxvals, idx=self.idxvalues))
            self._paramsTable = df.set_index('idx')
            
        return self._paramsTable
    
    @property
    def idxvalues(self):
        return list(x for x in (0, 1))

In [29]:
sp = StupidPopulation()

In [30]:
sp.idxvalues

[0, 1]

In [31]:
print(sp.rng_model)

None

In [32]:
sp.paramsTable

         f  maxv  minv        t0
idx
0    0.002   0.5  -0.2  59580.03
1    0.004   1.0  -0.5  59580.05

In [17]:
sp.numSources

2

In [18]:
for idx in sp.idxvalues:
    print(idx, sp.modelParams(idx))

(0, OrderedDict([('f', 0.002), ('maxv', 0.5), ('minv', -0.20000000000000001), ('t0', 59580.029999999999)]))
(1, OrderedDict([('f', 0.0040000000000000001), ('maxv', 1.0), ('minv', -0.5), ('t0', 59580.050000000003)]))

In [19]:
class StatPopulation(BasePopulation):
    def __init__(self, numObjs, rng=np.random.RandomState(0)):
        self._numObjs = numObjs
        self._rng = rng
        self._paramsTable = None
    
    @property
    def rng_model(self):
        return self._rng
    
    @property
    def idxvalues(self):
        return list(str(x) for x in range(self._numObjs))
    
    @property
    def paramsTable(self):
        if self._paramsTable is None:
            if self.rng_model is None:
                return None
            else:
                t0 = self.rng_model.uniform(low=59580., high=59581., size=self.numSources)
                f = self.rng_model.normal(loc=0.003, scale=0.001, size=self.numSources)
                self._paramsTable = pd.DataFrame(dict(t0=t0, f=f, idx=self.idxvalues))
                self._paramsTable.set_index('idx', inplace=True)
        return self._paramsTable

In [11]:
stp = StatPopulation(10)

In [12]:
stp.idxvalues

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [13]:
stp.numSources

10

In [14]:
stp.paramsTable

            f            t0
idx
0    0.003144  59580.548814
1    0.004454  59580.715189
2    0.003761  59580.602763
3    0.003122  59580.544883
4    0.003444  59580.423655
5    0.003334  59580.645894
6    0.004494  59580.437587
7    0.002795  59580.891773
8    0.003313  59580.963663
9    0.002146  59580.383442

In [15]:
stp.modelParams('2')

OrderedDict([('f', 0.0037610377251469937), ('t0', 59580.602763376075)])

## How to not use

In [25]:
stp2 = StatPopulation(10)

In [26]:
stp2.rng_model.normal()

-1.4200179371789752

In [27]:
stp2.paramsTable

            f            t0
idx
0    0.002105  59580.570197
1    0.003387  59580.438602
2    0.002489  59580.988374
3    0.001819  59580.102045
4    0.002972  59580.208877
5    0.003428  59580.161310
6    0.003067  59580.653108
7    0.003302  59580.253292
8    0.002366  59580.466311
9    0.002637  59580.244426